<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lorrywork.emall.dao.TopMapper">
	<!-- 所有节点加密终端 -->
	<select id="getTopList" parameterType="lorrywork.emall.entity.Product"
		resultType="lorrywork.emall.entity.Product">
		select  * from top t
		join product p
		on t.productId = p.id
	</select>
</mapper>